@CHARSET "ISO-8859-1";

html, body {
	margin: 0 auto;
	padding:0;
	width: 80%;
	font-family: “Trebuchet MS”, “Lucida Grande”, “Lucida Sans Unicode”, “Lucida Sans”, Tahoma, sans-serif;
	font-size: 15px;
	letter-spacing: 0.35px;
	color: #333;
	height:100%;
}

#cont {
	height:100%;
}

a {
	color: #428bca;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2 {
	font-weight: normal;
}

h2 {
	color:#d9534f;
}

hr {
    border: none;
    height: 1px;
    background-color: #CCC;
}

.error {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
    color: #a94442;
    background-color: #f2dede;
    border:1px solid #ebccd1;
}

.success {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
    color: #3c763d;
    background-color: #dff0d8;
    border:1px solid #d6e9c6;
}

.float {
	float:left;
}

.float-width-70 {
	width: 70%;
}

.float-width-30 {
	width: 25%;
	margin-right: 5%;
}

#header {
	color: inherit;
	font-weight:bold;
	padding:10px;
}

#nav ul {
	width:100%;
	background-color: #428bca;
	padding:0;
	margin: 0 0 10px 0;
	list-style-type: none;
	overflow: hidden;
}

#nav ul li {
	float:left;
	margin:0;
	padding:0;
}

#nav ul li a {
	display:block;
	padding:10px;
	color: #FFF;
	text-decoration:none;
}

#nav ul li a:hover {
	background-color: #FFF;
	color: #428bca;
}

#admin {
	background-color: #346fa1;
}

#body {
	min-height:70%;
}

table {
	width:100%;
	border-collapse: collapse;
}

table thead td {
	background-color:#d9534f !important;
	border-color:#d9534f;
	color:#FFF;
}

table td {
	border:1px solid #CCC;
	padding:10px;
}

.table-admin td:first-child {
	background-color: #F9F9F9;
	font-weight: bold;
}

.table-admin td {
	width:50%;
}

label {
	display:block;
	margin:10px 0;
	font-weight:bold;
}

input[type="text"], input[type="password"], select {
	border:1px solid #CCC;
	padding:10px;
	width: 50%;
	box-sizing: border-box;
}

input:-moz-read-only { /* For Firefox */
    border: none;
}

input:read-only, input[readonly="readonly"], select[readonly="readonly"] { 
	margin:0;
	padding:10px 0;
    border: none;  
	font-size: 15px; 
	color: #428bca;   
	background-color: #FFF;
	cursor: default;
}

select[readonly="readonly"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select {
 	width: auto !important;
}
 
select[readonly="readonly"] option, select[readonly="readonly"] optgroup {
    display: none;
}
 
button {
	display:block;
	font-weight: bold;
	padding: 10px;
	border:1px solid #346fa1;
	background-color: #428bca;
	border-radius: 4px;
	color: #FFF;
	cursor:pointer;
}

button:hover {
	background-color: #346fa1;
}


#footer {
	clear: both;
	overflow: auto;
	margin: 20px 0;
	font-size: small;
}

@media screen and (max-width: 960px) {
	
html, body {
	width:100%;
}

#body {
	margin: 0 auto;
	width: 95%;
}

input[type="text"], input[type="password"], select {
	width: 100%;
}

.float {
	float: none;
}

.float-width-70 {
	width: 100%;
}

.float-width-30 {
	width: 100%;
	margin-right: 0%;
	margin-bottom: 5%;
}
	
}
