html, body {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-family:"Segoe UI Semilight", "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
	font-size:13px;
	line-height: 1.4em;
	height:100%;
	margin:0;
	color:#444;
    background-color: #F9F9F9;
}
#sortable1, #sortable2 {
  border: 1px dashed #CCC;
  box-sizing: border-box;
  width: 90%;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

#sortable2 {
  width: 100%;
  border: none;
}

#sortable1 li, #sortable2 li {
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px 5px;
  padding: 5px;
  width: calc(100% - 10px);
  cursor: move;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #EEE !important;
    border-color: #337AB7 !important;
}

#sortable1 li input[type="text"] {
  width: 43%;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.fa {
	color:inherit;
}

.fa-refresh {
    cursor: pointer;
}

.fa-spin-hover:hover {
  -webkit-animation: fa-spin 2s infinite linear;
  -moz-animation: fa-spin 2s infinite linear;
  -o-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

h1 {
	font-size:20px;
	font-weight:400;
	margin:0;
}

h2 {
	font-size:20px;
	font-weight:600;
	margin:20px 0px;
}

.h2-dash {
    display: inline;
}

h3 {
	padding:0;
	margin:10px 0;
}

hr {
	border:0;
	height:0;
	border-bottom:1px solid #DDD;
	margin:20px 0;
}

b {
	font-weight:600;
}

#layout-cont {
	width:100%;
	height:100%;
}

#layout-header {
	width:100%;
	height:50px;
	line-height:50px;
	box-sizing:border-box;
	position:fixed;
	z-index:99;
}

#layout-header-height {
	height:50px;
}

#layout-header .fa {
	margin:0px 5px;
}

#layout-header a {
	text-decoration:none;
}

#layout-header-left, #layout-header-right {
	width:17.5%;
	float:left;
	box-sizing:border-box;
}

#layout-header-left {
	padding-left:25px;
}

#layout-header-right {
	text-align:center;
}

#layout-header-middle {
	width:65%;
	float:left;
	padding-top:8px;
	box-sizing:border-box;
	text-align:center;
}

#layout-body {
	width:100%;
	min-height:100%;
	/*padding-top:50px;*/
}

#layout-body-centre {
    margin: 0 auto;
    width: 65%;
    min-height:100%;
}


#layout-body-dashboard {
    margin: 0 auto;
    width: 90%;
    min-height:100%;
}

.layout-body-dialog {
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding: 10px 20px;
    overflow: auto;
    box-sizing: border-box;
}

.col1 {
    width: calc(35% - 10px);
    float: left;
}

.col3 {
    width: calc(65% - 10px);
    float: left;
}

.v-space {
    width: 20px;
    float: left;
    box-sizing: border-box;
}

#groupsummary table {
    width: 100%;
}

#groupsummary table thead th {
height: 100px;
border-left: 1px solid #EEE;
}

#groupsummary table tbody td {
    width: 20px;
}

.vertical-text {
    text-align:right;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(90deg);
}

#layout-footer {
	clear:both;
	border-top:1px solid #CCC;
}

.layout-body-65 {
	width:65% !important;
	margin:0 auto;
}

#layout-body-left-width {
	width:17.5%;
	float:left;
}

#layout-body-left {
	width:17.5%;
	height:100%;
	float:left;
	overflow:scroll;
	position:fixed;
	z-index:99;
}

#layout-body-left:hover {
	overflow-y:scroll;
}

::-webkit-scrollbar
{
  width: 10px;  /* for vertical scrollbars */ /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #EEE;
}

::-webkit-scrollbar-thumb
{
  background: #DDD;
}

#layout-body-left label {
	display:block;
	font-weight:bold;
	margin:15px 0;
}

#layout-body-left .select2-container {
	width:100% !important;
}

#layout-body-middle, #layout-body-middle-65 {
	width:82.5%;
	height:100%;
	float:left;
	background-color:#FFF;
}

#layout-body-middle-65 {
	width:65%;
}

#layout-body-right {
	width:17.5%;
	height:100%;
	float:left;
	box-sizing:border-box;
}

#tickets-agents-scroll {
    border: 1px solid #aaa;
    border-radius: 4px;
    overflow-y: scroll;
    height: 80px;
}

#tickets-agents-scroll label {
    display: inline-block;
    margin: 3px;
}

.layout-padding {
	padding:10px 25px;
	box-sizing:border-box;
}

.navigation-mobile-links {
	visibility:hidden;
}

.navigation-box {
	position:absolute;
	top:52px;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	position:fixed;
	z-index:99;
	width:17.5%
}

.navigation-box ul li, #aa_chats ul li  {
	width:100%;
	height:40px;
	line-height:40px;
	padding:0px 10px;
	box-sizing:border-box;
}

.navigation-box ul li a, #aa_chats ul li a {
	color:inherit;
	display:block;
}

.navigation-box ul li form {
	display:block;
	height:40px;
	line-height:40px;
	padding:0px 10px;
	background-color:#EEE;
}

.navigation-box ul li select {
	border:1px solid #CCC;
}

.navigation-box ul li:last-child a {
	border-bottom:none;
}

.navigation-box ul li a:hover {
	text-decoration:none;
}


.navigation-menu {
	position:fixed;
	top:50px;
	right:0;
	width:17.5%;
	height:100%;
	box-sizing:border-box;
	z-index:99;
	overflow:scroll;
}

.navigation-menu ul, .navigation-box ul, #aa_chats ul {
	margin:0;
	padding:0;
	list-style:none;
}

.navigation-menu ul li a {
	display:block;
	color:inherit;
	height:40px;
	line-height:40px;
	padding:0px 10px;
}

#navigation-settings-menu {
	overflow:hidden;
    position: absolute;
    left: 20px;
	margin:20px 20px 0px 0px;
	font-size:x-small;
}

#navigation-settings-menu ul {
	margin:0;
	padding:0;
	list-style:none;
}

#navigation-settings-menu ul li {
	margin-right:5px;
}

#navigation-settings-menu ul li a {
	display:block;
	padding:5px 10px;
}

#navigation-settings-menu ul li a:hover {
	text-decoration:underline;
}

.column-two {
    float: left;
    border-radius: 10px;
}

#formwiz-builder {
  border: 2px dashed #CCC;
  width: 70%;
  margin-right: 5%;
}

#formwiz-fields {
  background-color: #F5F5F5;
  width: 17.5%;
  position: fixed;
  float: right;
  left: 62.5%;
}

#kbcomments_results {
    height: 80%;
    overflow-y: scroll;
}

.kbcomment {
    border: 1px solid #f6f6df;
    background-color: #fafaed;
    border-radius: 4px;
    margin-bottom: 20px;

}

.kbcomment-approved {
	border:1px solid #d6e9c6;
	background-color:#dff0d8;
}

.overlay {
 	position:fixed;
	display:none;

    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.4);

    /* stretch to screen edges */
    top: 0;
	left: 0;
    bottom: 0;
    right: 0;
	z-index:99;
}

.popup {
	display:none;
	position:absolute;
	left:17.5%;
	width:65%;
	top:20%;
    height: 50%;
    max-height: 50%;
	border:1px solid #555;
	border-radius:4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	background-color:#FFF;
	z-index:99;
}

.popup_ticket {
	clear:both;
	width:100%;
	border:1px solid #DDD;
	display:table;
}

.popup_ticket .ticket_summary, .popup_ticket .ticket_numbers {
	display:table-cell;
	background-color:#F9F9F9;
	vertical-align:middle;
	padding:10px;
}

.popup_ticket .ticket_summary {
	width:60%;
}

.popup_ticket .ticket_numbers {
	width:40%;
	text-align:right;
}

#inner_merge_results {
	background-color:#F0F7FF;
	border:1px solid #09C;
	padding:10px;
}

#summary ul {
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

#summary li {
	float:left;
	font-weight:bold;
	list-style:none;
	width:calc(100% / 3);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#summary li a {
	display:block;
	width:100%;
    color: #FFF;
	height:60px;
	line-height:60px;
	text-align:center;
	text-decoration:none;
	font-size:x-small;
    box-sizing: border-box;
}

.open {
	background-color:#5CB85C !important;
}

.awaitingreply {
	background-color:#666666 !important;
}

.pending {
	background-color:#337AB7 !important;
}

.paused {
	background-color:#F0AD4E !important;
}

.slarexpiry {
	background-color:#cc70a1 !important;
}

.slafexpiry {
	background-color:#b7337a !important;
}

.closed {
	background-color:#D9534F !important;
 }

.unassigned {
	background-color:#666 !important;
}

.total {
	background-color:#444 !important;
}

#load-more {
	height:35px;
	line-height:35px;
	text-align:center;
	cursor:pointer;
}

#feedback-summary {
	list-style:none;
	margin:0px;
	padding:0px;
	clear:both;
	width:100%;
}

#feedback-summary li {
	font-weight:bold;
	float:none;
	text-align:center;
	padding:5px;
	color:#FFF;
}

#feedback-summary #Positive {
	background-color:#5CB85C;
}

#feedback-summary #Neutrel {
	background-color:#F0AD4E;
}

#feedback-summary #Negative {
	background-color:#D9534F;
}

.ticket-rating ul {
	margin:0;
	padding:0;
	list-style:none;
}

.ticket-rating ul li {
	border-radius:4px;
	margin:10px 0;
	padding:10px;
	color:#FFF;
}

.ticket-rating ul li a {
	color:#FFF;
	display:block;
}

.ticket-rating ul li .fa {
	float:right;
	color:#FFF;
	font-size:inherit;
	top:1px;
}

#Positive {
	background-color:#6C0;
}

#Neutrel {
	background-color:#FC0;
}

#Negative {
	background-color:#F30;
}

.disabled-li {
	opacity:0.3;
}


.error-msg, .success-msg {
	width:100%;
	border:1px solid #ebccd1;
	color: #a94442;
    background-color: #f2dede;
	word-break:break-all;
	word-wrap:break-word;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	margin:20px 0;
	box-sizing:border-box;
	padding:10px 25px;
}

.success-msg {
	border:1px solid #d6e9c6;
	background-color:#dff0d8;
	color:#3c763d;
}

.error {
	color: #a94442 !important;
}

.success {
	color: #3c763d !important;
}

.content-box-header {
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}

.content-box-body {
	border-top:none !important;
}


table {
	border-collapse:collapse;
	margin:10px 0;
	width:100%;
}

table thead {
	font-weight:bold;
}

table td {
	padding: 10px;
}

table tr {
	border:1px solid #EEE;
}

table tbody tr:hover {
	background-color:#F1F1F1 !important;
}

table tbody tr:nth-child(odd) {
	background-color:#F9F9F9;
}

table td:first-child {
	text-align:left;
}

#table_header {
    height: 41px;
    display: table;
	min-width: 82.5%;
    box-sizing: border-box;
	position:fixed;
	z-index:98;
}

#table_header_fixed_height {
	height:41px;
}

#table_bg_color_space {
    width: 1%;
}

#table_select_all {
    width: 5%;
    text-align: center;
    vertical-align: middle;
}

#table_change {
    width: 50%;
    text-align: left;
}

#ticket-table-choices {
    display:none;
    position: absolute;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: #FFF;
    z-index: 95;
}


#ticket-table-choices label {
    display: block;
    margin: 0;
    padding-left: -20px;
}

#table_sort {
    width: 44%;
    text-align: right;
    padding-right: 10px;
}

#table_select_all, #table_change, #table_sort, #table_generic, #table_go_back {
    display: table-cell;
    vertical-align: middle;
}

#table_generic .fa {
	padding-left:25px;
}

#table_go_back {
	text-align:right;
	padding-right:25px;
}

#ticket_view_header div {
	font-weight:bold;
    border: none !important;
}

.ticket {
    display: table;
    width: 100%;
}

.nohover {
	background-color:inherit !important;
}
.nohover:hover {
	background-color:inherit !important;
	cursor:default !important;
}

.ticket a {
	color:inherit;
	text-decoration:none;
}

.ticket:hover {
	cursor:pointer;
}

.ticket .ticket_color, #ticket_view_header .ticket_color{
    text-align: center;
    width: 1%;
}

.ticket .ticket_tick, #ticket_view_header .ticket_tick {
    text-align: center;
    width: 5%;
	border-bottom:1px solid #f1f1f1;
}

.ticket div {
    display: table-cell;
    vertical-align: middle;
}

.ticket .ticket-list, #ticket_view_header .ticket-list {
    padding: 8px;
    width: calc(auto / 9);
    max-width: 0;
    word-break: break-all;
	border-bottom:1px solid #f1f1f1;
    border-left:1px solid #f1f1f1;
}

.ticket_summary {
	width:94%;
	border-bottom:1px solid #f1f1f1;
}

.ticket_summary .fa {
	margin-left:10px;
}

.ticket-message {
	border:1px solid #CCC;
	border-radius:4px;
	margin:20px 0px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: auto;
    clear: both;
}

#aachat_notification {
	cursor:pointer;
	display:none;
	position:absolute;
	background-color:#F00;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	padding:1px 3px;
	top:10px;
	right:13.5%;
	border:1px solid #F00;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(51,51,51,1);
	-moz-box-shadow: 1px 1px 1px 0px rgba(51,51,51,1);
	box-shadow: 1px 1px 1px 0px rgba(51,51,51,1);
}

.livechat ul .aa-chat-conv {
	height:auto;
	min-height:35px !important;
}

.livechat ul .aa-chat-header {
	background-color:#EEE;
}

.livechat ul  .aa-chat-conv a {
	color: #FF9900;
	display: inline !important;
}

#body-chat {
	float:left;
	font-size:small;
	line-height:1.8em;
	min-height:100%;
	height:100%;
	width:65%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	background-color:#FFF;
}

#aa-chat-message {
	height:65%;
	overflow:auto;
}

#aa-chat-form textarea{
	border:1px solid #000;
	width:100%;
	height:25%;
}

#aachat_notification {
	cursor:pointer;
	display:none;
	position:absolute;
	background-color:#F00;
	font-size:12px;
	font-weight:bold;
	color:#FFF;
	line-height:1;
	padding:1px 3px;
	top:10px;
	right:12.5%;
	border:1px solid #F00;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(102, 102, 102,1);
	-moz-box-shadow: 1px 1px 1px 0px rgba(102, 102, 102,1);
	box-shadow: 1px 1px 1px 0px rgba(102, 102, 102,1);
	z-index:99;
}

.error_form {
	border-color:red !important;
	outline-color:red !important;
}

#aa_collision, .restrict_agent  {
	display:none;
}

#form-aa-search {
	width:95%;
	box-sizing:border-box;
	padding:6px 10px;
	border-width:1px;
	border-style:solid;
	border-radius:3px;
	margin-top:3px;
}

.form-field {
	width:100%;
	box-sizing:border-box;
	padding:5px 0px;
	clear:both;
}

.form-field label {
    font-weight: bold;
    padding: 0px 0px 10px 0px;
    display: block;
}

.form-field .notice {
	float:left;
	width:60%;
}

.form-field .info {
  padding-left: 30%;
  font-size: smaller;
}

.form-field-inline-label {
	display:inline-block !important;
    padding: 0px !important;
    margin: 0 !important;
}

.form-field input[type='checkbox'],.form-field input[type='radio'] {
	min-width:auto !important;
    margin: 5px 10px 0 0;
    float: left;
}

.form input, .form input[type='password'], .form select, .form textarea {
	padding: 0px 8px;
    line-height: 28px;
	border-radius:4px;
	min-width:50% !important;
	box-sizing:border-box;
	color:inherit;
	resize:none;
	outline: none;
}

.select2-container {
    min-width: 50% !important;
    width: 50% !important;
}

.form-field .mce-tinymce {
	box-sizing:border-box !important;
	display:inline-block !important;
	width:50%;
}

input[type=submit],input[type=button], button {
	min-width:auto !important;
    cursor:pointer;
    border: 1px solid #AAA;
    background-color: #F9F9F9;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: inset 0 1px 1px #fff, inset 0 -0.7em #EEE;
    -o-box-shadow: inset 0 1px 1px #fff, inset 0 -0.7em #EEE;
    -webkit-box-shadow: inset 0 1px 1px #fff, inset 0 -0.7em #EEE;
    -moz-box-shadow: inset 0 1px 1px #fff, inset 0 -0.7em #EEE;
    box-sizing: border-box;
    padding: 1.5px 10px;
}

input[type=button]:hover,input[type=button]:hover, button:hover {
    background-color:#DDD;
}

#layout-profile-left select {
	min-width:100%;
}

.btn {
	background-color:#FFF;
	padding:5px 10px;
	border-radius:4px;
	cursor:pointer;
	color:inherit;
}

.btn:disabled, .btn:disabled:hover {
	background-color:#DDD;
}

*:focus {
    outline: 0;
}

.form-field input:focus, .form-field select:focus {
	outline:none;
  border-color: #444;
}

input[type=text]:disabled, input[type=number]:disabled, input[readonly], input[readonly="readonly"], textarea:disabled {
	background-color:#EEE;
}

fieldset {
	border:1px solid #CCC;
}

fieldset legend {
	padding:0 10px;
}

.text-large {
	font-size:large;
}

.text-xsmall {
	font-size:x-small;
}

.text-center {
	text-align:center;
}

@media screen and (max-width: 960px) {
.navigation-mobile-links {
	visibility:visible;
}

#layout-header-left {
	width:50%;
}

#layout-header-middle {
	display:none;
}

#layout-header-right {
	text-align:right;
	width:50%;
	padding-right:25px;
}

#layout-body-left {
	display:none;
	top:50px;
	right:0;
	width:82.5%;
	border-right:none;
	border-left:1px solid #CCC;
	opacity:0.9;
	z-index:99;
}

#layout-body-middle {
	width:100%;
	float:none;
}

#layout-body-centre {
    width: 100%;
}

.layout-body-dialog {
    width: 90%;
}

#navigation-settings-menu {
    position: relative;
    left: 0;
    margin: 0;
}

#navigation-settings-menu ul {
	margin:0;
	padding:0;
	list-style: inline;
}

#navigation-settings-menu ul li {
    float: left;
	margin-right:0px;
}

#navigation-settings-menu ul li a {
	display:block;
    padding: 0;
}
#navigation-settings-menu ul li a::before {
    content: " | ";
}
#navigation-settings-menu ul li a::after {
    content: " | ";
}

#table-wrapper {
	display:table;
	border-collapse:collapse;
	width:100%;
}

#table_header {
	min-width: 100%;
	z-index:1;
}

#table-wrapper #layout-body-middle-65 {
	float:none;
	display:table-row-group;
}

#table-wrapper #layout-body-right {
	float:none;
	display:table-header-group;
	border-bottom:1px solid #CCC;
	height:auto !important;
}

.navigation-box {
	width:auto;
}

.navigation-menu {
	width:82.5%;
}

#summary li {
	float:left;
	margin:10px 0px;
	width:calc(50% - 5px);
}

#summary li:nth-child(odd) {
	margin-right:10px;
}

#summary li a {
	height:40px;
	line-height:40px;
}

#table_change, #table_bg_color_space, #table_select_all, .ticket_tick, .hide-mobile {
	display:none !important;
	visibility:hidden !important;
}

#ticket-table-choices {
    width: auto;
    border: 1px solid #aaa;
    border-radius: 4px;
    position: absolute;
    top: 60px;
}

#table_sort {
	width:100%;
	text-align:left;
	padding-left:25px;
}

.ticket .ticket-list-subject {
    width: 50%;
}
.ticket .ticket-list {
    width: 24.5%;
}

.form input[type="text"],form input[type="tel"],form input[type="number"],form input[type="email"], .form select {
	min-width:100%;
    width: 100%;
}

.form-field .mce-tinymce {
	width:100%;
}

#navigation-settings-menu ul li {
	margin-bottom:10px;
}

}
