body, html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	font-family:"Segoe UI Semilight", "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
	font-size:13px;
	line-height: 1.4em;
	height:100%;
	margin:0;
  	color:#444;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.b {
	font-weight:bold;
}

.fa {
	color:inherit;
}

h1 {
	font-size:20px;
	font-weight:400;
	margin:0;
}

h2 {
	font-size:20px;
	font-weight:600;
	margin:20px 0;
	clear:both;
}

h3 {
	padding:0;
	margin:20px 0;
}

hr {
	border:0;
	height:0;
	border-bottom:1px solid #DDD;
	margin:20px 0;
}

a {
	color:#4678c8;
	text-decoration:none;
}

b {
	font-weight:600;
}

a:hover {
	text-decoration:underline;
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
    width: 100%;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	text-decoration:none;
    margin-right: 20px;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background: none;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:105%;
	left:0;
	background:#4678c8;
	padding:0;
    border-radius: 4px;
    z-index: 99;
}

#primary_nav_wrap ul ul li
{
	float:none;
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px;
    color:#fff;
}

#primary_nav_wrap ul a:hover, #primary_nav_wrap ul ul a:hover {
    text-decoration: underline;
}


#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}

.form-field {
	width:100%;
	box-sizing:border-box;
	padding:5px 0px;
	clear:both;
}

.form-field label {
	float:left;
	width:30%;
}

.form-field .info {
  padding-left: 30%;
  font-size: smaller;
}

.form-field .notice {
	float:left;
	width:60%;
}

.form-field-inline-label {
	display:inline-block !important;
	font-weight:normal !important;
	margin:auto !important;
}

.form-field input[type='checkbox'],.form-field input[type='radio'] {
	min-width:auto !important;
}

.form input, .form input[type='password'], .form select, .form textarea {
    padding: 0px 8px;
    line-height: 28px;
	border-radius:4px;
	min-width:50%;
	box-sizing:border-box;
	color:inherit;
	resize:none;
	outline: none;
}

.form input, .form select {
	border:1px solid #aaa !important;
}

.form-field .mce-tinymce {
	box-sizing:border-box !important;
	display:inline-block !important;
	width:50%;
}

.form input[type=submit] {
	min-width:auto !important;
}

.form input, .form select {
	border:1px solid #CCC;
}

*:focus {
    outline: 0;
}

.btn {
	background-color:#FFF;
	padding:5px 10px;
	border-radius:3px;
	cursor:pointer;
	color:inherit;
}

.btn {
	background-color:#FFF;
	border:1px solid #CCC;
	color:#444;
}

.btn:hover, .btn:hover {
	background-color:#EEE;
}

.text-xsmall {
	font-size:x-small;
}


textarea {
    border: 1px solid #aaa;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #aaa;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aaa;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #aaa;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #aaa;
}

.signinform {
	width:90% !important;
}

input[readonly] {
	background-color:#EEE;
}
input[readonly]:focus {
	border-color:#AAA !important;
}

.layout-padding {
	padding:10px 25px;
	box-sizing:border-box;
}

.overlay {
 	position:fixed;
	display:none;

    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, 0.4);

    /* stretch to screen edges */
    top: 0;
	left: 0;
    bottom: 0;
    right: 0;
	z-index:40;
}

.popup {
	display:none;
	position:absolute;
	left:12.5%;
	width:75%;
	top:20%;
  border:1px solid #555;
	border-radius:4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	background-color:#FFF;
	z-index:99;
}


h1 {
	margin:0;
	padding:0;
}

h1, h2, h3, #title {
	color:#666 !important;
}

#title {
	text-decoration:none;
}

.error-msg, .success-msg {
	width:100%;
	border:1px solid #ebccd1;
	color: #a94442;
    background-color: #f2dede;
	word-break:break-all;
	word-wrap:break-word;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	margin:20px 0;
	box-sizing:border-box;
	padding:10px 25px;
}

.success-msg {
	border:1px solid #d6e9c6;
	background-color:#dff0d8;
	color:#3c763d;
}

.error {
	color: #a94442 !important;
}

.success {
	color: #3c763d !important;
}

.small {
	font-size:small;
}

hr {
	border: 0;
    height: 0;
    border-top: 1px solid #DDD;
}

.margin-body {
	width:75%;
	margin:0 auto;
}

.div-table-cont {
	clear:both;
}

.div-table {
	float:left;
	width:20%;
	padding:10px 0px;
	box-sizing:border-box;
}

.outer-padding {
	padding:0px 15px !important;
}

.inner-padding {
	padding:15px !important;
}

.header {
	font-size:small;
	float:left;
	width:50%;
	height:60px;
	line-height:60px;
}

#langauge {
	box-sizing: border-box;
	padding: 20px 0 0 0;
}

#langauge select {
	float:right;
	background-color:#FFF;
	font-size:small;
}

#nav {
	text-align:left;
    padding: 0 0 10px 0;
}

#nav a:not(:first-child) {
	margin-left:20px;
}

.inner-padding {
	padding:10px;
}

#kb-search {
	clear:both;
	width:100%;
	height:150px;
	line-height:150px;
	text-align:center;
	background-color:#F5F5F5;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
}

#kb-search input {
	width:calc(75% - 40px);
	padding:20px;
	font-size:x-large;
	border-radius:3px;
	border:1px solid #DDD;
	outline:none;
}

#kb-search input::-webkit-input-placeholder::before { font-family: fontAwesome; content:'\f002  '; color: #AAA }
#kb-search input::-moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #AAA } /* firefox 19+ */
#kb-search input:-ms-input-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #AAA } /* ie */
#kb-search input -moz-placeholder::before  { font-family: fontAwesome; content:'\f002  '; color: #AAA }

.kbeven, .kbodd {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.kbeven {
	float:left;
	width:50%;
}

.kbodd {
	clear:both;
	width:100%;
}

.kbeven hr {
	margin-right:20px;
}

#kb-new-top-clear {
	clear:both;
}

.kb-new-top {
	width:50%;
	float:left;
}

.kbcomment {
    border: 1px solid #f6f6df;
    background-color: #fafaed;
    border-radius: 4px;
    margin-bottom: 20px;
}

#breadcrumb {
	background-color:#F5F5F5;
	border-radius:3px;
	padding:10px;
}

.u-kb-rate {
	border:1px solid #EEE;
	border-radius:3px;
	margin:3px;
	padding:5px 10px;
}

.u-kb-rate:hover {
	border-color:#09F;
}

.u-kb-share {
	margin-right:10px;
}

.u-kb-share #fb {
	color: #3b5998;
}

.u-kb-share #twitter {
	color: #00aced;
}

.u-kb-share #linkin {
	color: #007bb6;
}

.u-kb-share #googleplus {
	color: #dd4b39;
}

#u-show-ticket-detail {
	display:none;
	visibility:hidden;
}

.ticket-message {
	border:1px solid #CCC;
	border-radius:3px;
	margin:20px 0;
}

.ticket-message:before,
.ticket-message:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.ticket-message:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.ticket-message {
    *zoom: 1;
}

.staff {
	background-color:#FFF;
	border-color:#CCC;
	margin-left: 5%;
}

.user {
    background-color: #F5F5F5;
    border-color: #CCC;
	margin-right: 5%;
}

.u-date {
	float:right;
}

#body-left, .body-60, .body-80, #body-right {
	float:left;
	word-break:break-all;
	word-wrap:break-word;
}

#body-left {
	background-color:#F9F9F9;
	border-radius:3px;
	width:20%;
}

#body-left label {
	display:block;
	font-weight:bold;
	margin:15px 0;
}

.body-60 {
	width:60%;
}

.body-80 {
	width:80%;
}

#body-right {
	width:20%;
}

#body-right ul {
	margin:0;
	padding:0;
	list-style:none;
}

#body-right ul li {
	border-radius:5px;
	margin:10px 0;
	padding:10px;
	color:#FFF;
}

#body-right ul li a {
	color:#FFF;
	display:block;
}

#body-right ul li .fa {
	float:right;
	color:#FFF;
}

#Positive {
	background-color:#6C0;
}

#Neutrel {
	background-color:#FC0;
}

#Negative {
	background-color:#F30;
}

.selected {
	pointer-events: none;
}

.disabled-li {
	opacity:0.3;
	pointer-events: none;
}

fieldset {
	border:1px solid #CCC;
}

fieldset legend {
	padding:0 10px;
}


@media screen and (max-width: 960px) {
body, html {
	font-size:small;
}

.header {
	float:none;
	width:100%;
	height:auto;
}

#nav a:not(:first-child)  {
	display:block;
	margin:0;
	padding:0;
}

.margin-body {
	width:90%;
}

.kb {
	float:none;
	height:auto !important;
	width:100%;
}

.kb-new-top {
	width:100%;
	float:none;
}

.margin-body input[type="text"], .margin-body input[type="email"], .margin-body input[type="password"], label, select, input[type="submit"] {
	width:100%;
}

#user-msg-tinymce {
	width:100%;
}

#u-show-ticket-detail {
	display:block;
	visibility:visible;
}

.u-date {
	float:left;
	margin:1.7em 0;
}

.u-ticket-detail {
	display:none;
}

#body-left, .body-60, .body-80, #body-right {
	float:none;
	width:100%;
}

.outer-padding {
	padding:0px !important;
}

.form input[type="text"],form input[type="tel"],form input[type="number"],form input[type="email"], .form select {
	min-width:100%;
    width: 100%;
}

.form-field .mce-tinymce {
	width:100%;
}

}
